<html>
	<head>
		<title>PhonePeti - Voice Based Applications</title>
		<script type="text/javascript">
    			function ChangeColor(tableRow, highLight)
			{
				if (highLight)
				{
					tableRow.style.backgroundColor = '#ecf2fa';
				}
				else
				{
					tableRow.style.backgroundColor = 'white';
				}
			}

			function GoTo(loc_url)
			{
				document.location.href = loc_url;
			}
		</script>
		<style type="text/css">
			table
			{
				width: 500px;
				border-collapse: collapse;
				cursor: pointer;
			}
			
			td, th
			{
				padding: 5px 10px;
			}
			
			thead th
			{
				background: #110303;
				color: #fff;
			}
			
			tbody td
			{
				border: 1px dotted #D8D5D5;
				text-align: center;
			}
		</style>

	</head>
	<body>
		<h1><center> List of Feedbacks </h1>

		{% if all_feedbacks %}

		<p><center><i> Select the <b>Call </b> to Edit details</i></p>

		<table>
		<thead>
		<tr>
			<th>Phone No</th>
			<th>Date & Time</th>
		</tr>
		</thead>

		<tbody>
		{% for feedbacks in all_feedbacks %}

		<tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="GoTo('/edit/{{ feedbacks.id }}');">
			<td> {{ feedbacks.call.phoneNo.phoneNo }} </td>
			<td> {{ feedbacks.call.startTime }} </td>
		</tr>
	
		{% endfor %}
		</tbody>

		</table>

		{% else %}

		<p>No Feedbacks !!!</p>

		{% endif %}

		<p><i>Click to go back: <a href="/">Home</a><i></p>
	</body>
</html>
