<html>
	<head>
		<title>PhonePeti Voice Based Applications</title>
	</head>

	<body>
	<br/>
		<h1><center>Welcome to <i>Gurgoan Ki Awwaz </i></h1>
		{% if user.username %}
	<br/><br/>
			<h3><center>Welcome {{ user.first_name }}! </h3> 
			<p><center>Click to View and Edit the details of <a href = "/feedbacks/"> Feedbacks</a></p>
			<h4><center>Click here to <a href = "/logout/"> <i>Logout</i></a></h4>
		{% else %}
			<p><center>Please <a href = "/login/"><i>LOGIN</i></a> to continue! </p>
		{% endif %}	
	</body>
</html>
