<html>
	<head>
		<title>PhonePeti Voice Based Applications</title>
		<script type="text/javascript">
			function showfield(name)
			{
				if(name=="Add New Caller")document.getElementById('New Caller').style.display="block";
				else document.getElementById('New Caller').style.display="none";
			}
			function hidefield()
			{
				document.getElementById('New Caller').style.display='none';
			}
		</script>
	</head>
	
	<body onload="hidefield()">
		<h3><center><i>Enter Call Details</i></h3>
		{% if error_message %}
			<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		<form action="/edit/{{ feedid }}/" method="post">
			{% csrf_token %}
			<p><i>ID:</i>  {{ feedback.id }}</p>
			<p><i>Phone No:</i>  {{ feedback.call.phoneNo.phoneNo }}</p>
			<p><i>Date & Time:</i>  {{ feedback.call.startTime }}</p>

			<embed  src="/CallRecordings/{{ feedback.filePath }}" autostart=FALSE height="22"/>

			<p><i>Title:</i>  {{ feedback_form.title }}</p>
			<p><i>Description:</i>  {{ feedback_form.description }}</p>
			<p><i>Tags:  </i><input type="text" id="tagName" name="tagName" value="{{ tags_of_call_comma_sep }}"/></p>

		{% if existing_callers_count %}
			{%  if caller_of_call %}
				<p><i>Caller Details:</i>  (Click to delete the caller) <a href="/del_caller/{{ feedback.call.id }}/"> Delete</a></p>
				<p><i>Name:</i>  {{ caller_of_call_form.name }}</p>
				<p><i>Address:</i>  {{ caller_of_call_form.address }}</p>
				<p><i>Profession:</i>  {{ caller_of_call_form.profession }}</p>
				<p><i>Age:</i>  {{ caller_of_call_form.age }}</p>
				<p><i>Gender:</i>  {{ caller_of_call_form.gender }} </p>
			{% endif %}

			{%  if not caller_of_call %}
				<p>Please selct any caller from below or add a new caller for this call</p>
				<select name="callers" onchange="showfield(this.options[this.selectedIndex].value)">
					<option value="list">List of Callers</option>
				        {% for callers in existing_callers %}
						<option value="{{ callers.caller.id }}">{{ callers.caller.id }}. Name: {{ callers.caller.name }} Address: {{ callers.caller.address }} Profession: {{ callers.caller.profession }} Gender: {{ callers.caller.gender }}</option>
					{% endfor %}
						<option value="Add New Caller">Add New Caller</option>
				</select>

				<div id="New Caller">
					<p><i>Name:</i>  {{ new_caller_form.name }}</p>
					<p><i>Address:</i>  {{ new_caller_form.address }}</p>
					<p><i>Profession:</i>  {{ new_caller_form.profession }}</p>
					<p><i>Age:</i>  {{ new_caller_form.age }}</p>
					<p><i>Gender:</i>  {{ new_caller_form.gender }}</p>
				</div>
			{% endif %}
		{% else %}

		<p>No Caller is associated with {{ feedback.call.phoneNo.phoneNo }} number, Please add one: </p>
			<p><i>Name:</i>  {{ new_caller_form.name }}</p>
			<p><i>Address:</i>  {{ new_caller_form.address }}</p>
			<p><i>Profession:</i>  {{ new_caller_form.profession }}</p>
			<p><i>Age:</i>  {{ new_caller_form.age }}</p>
			<p><i>Gender:</i>  {{ new_caller_form.gender }}</p>
		{% endif %}
	
			<input type="submit" value="Save" />
			</form>
		<p>Click to go back: <a href = "/feedbacks/"> Feedbacks</a></p>	
	</body>
</html>
